   
   body { 
    background-color: #E2B13C ;
   }
   
   footer { 

    margin-top: 77px;

} 

.card { 

    background-color: #EED38D;
}  

.btn { 
    float: right; 

    margin-top: -10px;
}  

h1 { 

margin-top: 20px; 
margin-bottom: 25px;

} 


.btn { 

    background-color: #3262a8;
} 